.update { background-image: url(../img/refresh.gif) !important; background-repeat: no-repeat; }
.new { background-image: url(../img/drop-add.gif) !important; background-repeat: no-repeat; }
.delete { background-image: url(../img/delete.gif) !important; background-repeat: no-repeat; }
.response { background-image: url(../img/response.png) !important; background-repeat: no-repeat;}